<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="http://jade.ac.uk">
              <img src="{{ site.logo }}" alt="Logo" height="35px">
            </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="{{ site.baseurl }}/">Home</a>
      <a class="nav-item nav-link" href="{{ site.baseurl }}/consortium">Consortium</a>
      <a class="nav-item nav-link" href="{{ site.baseurl }}/access">Access</a>
      <a class="nav-item nav-link" href="{{ site.baseurl }}/events">Training and Events</a>
      <a class="nav-item nav-link" target="_blank" href="https://docs.jade.ac.uk/en/latest/">User Guide</a>
      <a class="nav-item nav-link" href="{{ site.baseurl }}/support">Support</a>
      <a class="nav-item nav-link" href="{{ site.baseurl }}/faqs">FAQs</a>
      <a class="nav-item nav-link" href="{{ site.baseurl }}/publications">Publications</a>
      <a class="nav-item nav-link" href="{{ site.baseurl }}/casestudies">Case Studies</a>
      <a class="nav-item nav-link" href="{{ site.baseurl }}/jade_day_2023">JADE Day 2023</a>
    </div>
  </div>
</nav>
