---
layout: default
---

<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>{{ page.title }}</h1>
                    <b><p><big>{{ page.subtitle }}</big></p></b>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="portfolio-work">
<div class="container">
{{ content }}
</div>
</section>

<section id="call-to-action">

 <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We are always looking for new ideas and feedback.</h2>
          <b><p><big>Any questions or comments, please report it via GitHub issue tracker.</big></p></b>
          <a class="btn btn-default btn-call-to-action" href="https://jade.github.io/contact/" >GitHub</a>
        </div>
      </div>
    </div>
  </div>

</section>